<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468993581118-eivla0pf5t3vsgn8m2d996dqihii52fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468993581118-eivla0pf5t3vsgn8m2d996dqihii52fl</string>
	<key>API_KEY</key>
	<string>AIzaSyDNyIdrPHUXomqyx8sfCq2T6YbZj61XZog</string>
	<key>GCM_SENDER_ID</key>
	<string>468993581118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dosomething</string>
	<key>PROJECT_ID</key>
	<string>pulse-cd0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>pulse-cd0cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468993581118:ios:05d497ebde1c62e43d316f</string>
</dict>
</plist>